.faqs-hero {
	background-image: url('https://milanlaser.com/images/FAQ_Hero_v2_mobile.jpg'); 
  min-height: 340px;
	background-size: cover; 
  background-position: top right; 
  background-repeat: no-repeat; 
  background-color: #E5F6FB;
}

/* #faqs .card {
  background-color: inherit;
} */
#faqs .card .wrapper {
  background-color: #32A9C5;
}
#faqs .dark-blue-bg {
  background-color: #0696B8 !important;
}
#faqs .darker-blue-bg {
  background-color: rgba(0, 58, 68, .8) !important;
}
/* #faqs .accordion-collapse {
  background-color: inherit;
} */

@media (min-width: 576px) {
  .faqs-hero {
    background-image: url('https://milanlaser.com/images/FAQ_Hero_tab.jpg');
  }
}
@media (min-width: 991px) {
	.faqs-hero { 
    min-height: 370px;
  }
  #faqs .card .card-header > div {
    min-height: 100px;
  }
}
@media (min-width: 1200px) {
  .faqs-hero {
    background-image: url('https://milanlaser.com/images/FAQ_Hero_v3.jpg');
  }
}
@media (min-width: 1600px) {
  .faqs-hero {
    background-image: url('https://milanlaser.com/images/FAQ_Hero_v2.jpg');
  }
}
@media (max-width: 991px) {
	#faqs .card:nth-child(3n+2) .wrapper {background-color: #0696B8;}
	#faqs .card:nth-child(3n+3) .wrapper {background-color: rgba(0, 58, 68, .8);}
}