@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
:root {
  --main-red: #f93500;
  --main-turquoise: #3BD0EA;
  --main-blue: #01718f;
  --light-blue: #8cdfe6;
  --main-navy: #003a44;
  --transparent-navy: rgba(0, 58, 68, .5);
  --light-shadow: 0 9px 6px -7px #777;
  --heavy-shadow: 0px 9px 16px -2px #777;
  --inset-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  --light-bg: rgba(207,246,255,1.00);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  color: var(--main-navy);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
}
.red-bg-btn {
  background: var(--main-red);
  color: #fff;
}
.red-bg-btn:hover {
  color: #fff;
  background: var(--main-turquoise);
}
.cta-btn {
  border: none;
  transition: all 150ms ease-in-out;
}




@media(min-width: 576px) and (max-width: 768px) {}

@media(min-width: 768px) and (max-width: 991px) {}

@media(min-width: 992px) {}

@media(min-width: 1200px) {}

@media(max-width: 1600px) {}

@media(min-width: 992px) and (max-width: 1200px) {}

@media(max-width: 991px) {
  header nav .cta-btns {
    padding: 19px 0;
    margin-right: 15px;
  }
}

@media (max-width: 576px) {}

@media (max-width: 360px) {}

@media (min-width: 1600px) {}

@media (min-width: 401px) {
  .footer-links {font-size: 1em;}
}

@media (min-width: 576px) {}

