@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
:root {
  --main-red: #f93500;
  --red-disabled: rgba(255, 54, 0, .5);
  --main-turquoise: #3BD0EA;
  --main-blue: #01718f;
  --light-blue: #8cdfe6;
  --main-navy: #003a44;
  --navy-disabled: rgba(0, 58, 68, .5);
  --light-shadow: 0 9px 6px -7px #777;
  --heavy-shadow: 0px 9px 16px -2px #777;
  --inset-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  --light-bg: rgba(207,246,255,1.00);
  --light-blue-bg: #F5FAFD;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  color: var(--main-navy);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
}
h2 {
  font-weight: 300 !important;
}
.full-section {
  width: 100% !important;
  padding: 50px 0;
  line-height: 1.7rem;
}
.hero{
  margin-top: 62px;
}
.light-blue {
  color: var(--light-blue) !important;
}
.main-blue {
  color: var(--main-blue);
}
.red-bg-btn {
  background: var(--main-red);
  color: #fff;
}
.red-bg-btn:hover {
  color: #fff;
  background: var(--main-turquoise);
}
.light-btn {
  background: var(--main-turquoise);
  color: #fff;
}
.light-btn:hover {
  background: var(--main-red);
  color: #fff;
}
.navy-bg {
  background: var(--main-navy);
}
.navy-bg-btn{background: var(--main-navy);}
.navy-bg-btn:hover{background: var(--main-blue);}
.cta-btn {
  border: none;
  transition: all 150ms ease-in-out;
}
.red-bg-btn:disabled {
  background-color: var(--red-disabled);
}
.navy-bg-btn:disabled {
  background-color: var(--navy-disabled);
}
form label sup {
  color: var(--main-red);
  font-size: .5rem;
  top: -.53rem;
}
.consent-msg{
  line-height: 1rem; 
  font-size: 12px;
}
form .alert-danger {
  font-size: 14px;
  line-height: 1rem;
}
form label {
  font-size: 14px;
}
button:disabled{
  cursor: not-allowed;
}
.bg-blue {
  background-color: var(--main-blue);
}
.background {
  background-size: cover;
  background-repeat: no-repeat;
}
.anchor-blue a {
  color: var(--main-blue); cursor: pointer;
}
.light-blue-bg { 
  background-color: var(--light-blue-bg);
}
.divider {
	background: url('https://www.milanlaser.com/images/section-divider.png');
  background-size: contain;
  text-align: center;
  padding: 15px; 
  margin: auto;
}
.pointer {
  cursor: pointer;
}
.ul-disc-outside {
  list-style: disc outside;
}
.milan-btn{
  display: block;
  color: #fff;
  padding: 10px 20px;
  width: 270px;
  font-size: .9rem;
  line-height: 1.5rem !important;
  text-align: center;
  box-shadow: var(--light-shadow);
  border: none;
  transition: all 200ms ease-in-out;
}
.milan-btn:hover {
  box-shadow: 0 10px 6px -6px rgba(0,58,68,.7);
  border: none; color: #fff !important;
}
/**************** Modal **************/
.modal .btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
}
.modal .modal-content {
  background-color: var(--main-blue);
  color: #fff;
  min-height: 275px;
}
.modal .modal-header {
  border-bottom: 0;
  text-align: center;
}
.modal .modal-title p.light-blue {
  font-size: .8rem; line-height: 1.3rem;
}
.modal .modal-title p.light-blue a{
  text-decoration: underline;
}
.modal .consent-msg, #lp-modal .custom-checkbox > label {
  color: var(--light-blue);
}
/**************************************/

@media(min-width: 576px) and (max-width: 768px) {}

@media(min-width: 768px) and (max-width: 991px) {
  .milan-btn {
    width: 230px;
    font-size: .8rem;
  }
}

@media(min-width: 992px) {}

@media(min-width: 1200px) {}

@media(max-width: 1600px) {}

@media(min-width: 992px) and (max-width: 1200px) {}

@media(max-width: 991px) {
  .hero{ margin-top: 60px ;}
}

@media (max-width: 576px) {}

@media (max-width: 360px) {}

@media (min-width: 1600px) {}

@media (min-width: 401px) {
  .footer-links {font-size: 1em;}
}

@media (min-width: 576px) {}

@media only screen and (max-width: 991px) {
  .subhead-sm, .subhead-tag {font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (991 - 300)));}
}