.specials-hero {
	position: relative; background-image: url(https://milanlaser.com/images/Nov21_bg_sm.png); 
	background-position: bottom; background-color: #fff; background-repeat: no-repeat; background-size: cover
}
.specials-hero #graphic {max-height: 450px;}

@media (min-width: 576px) {
	.specials-hero {background-image: url(https://milanlaser.com/images/Nov21_bg.png);}
}