#consult-form {
  background-color: var(--main-blue);
}
#consult-form form {
  background: #F5FAFD;
}
#consult-form > div p.light-blue {
  font-size: .9rem; line-height: 1.3rem;
}
#consult-form > div p.light-blue a{
  text-decoration: underline;
}
#consult-form label {
  color: var(--main-blue);
}
#consult-form label sup {
  color: var(--main-red);
  font-size: .5rem;
  top: -.53rem;
}
#consult-form hr {
  border-top: 2px solid var(--main-turquoise);
}
#consult-form #msg_area {
  margin-top: -200px; opacity: .5;
  transition: all .6s ease-in-out 150ms;
}
#consult-form #msg_area.slide-down {
  margin-top: 0px;
  opacity: 1;
}
#consult-form .card {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}
#consult-form .card.selected {
  border-color: var(--main-navy);
}
#consult-form .selected-location-wrapper p {
  font-size: 14px;
}
#consult-form .consult-type-wrapper span {
  font-size: 4rem;
}
#consult-form #actions-btns button {
  max-width: 320px;
}
#consult-form #actions-btns button svg {
  vertical-align: text-top;
}
#consult-form #actions-btns .red-bg-btn:disabled {
  background-color: var(--red-disabled);
}
#consult-form #actions-btns .navy-bg-btn:disabled {
  background-color: var(--navy-disabled);
}
#consult-form .hide {
  display: none;
}