#consult-form {
  background-color: var(--main-blue);
}
#consult-form form {
  background: var(--light-blue-bg)
}
#consult-form > div p.light-blue {
  font-size: .9rem; line-height: 1.3rem;
}
#consult-form > div p.light-blue a{
  text-decoration: underline;
}
#consult-form label {
  color: var(--main-blue);
}
#consult-form hr {
  border-top: 2px solid var(--main-turquoise);
}
#consult-form #msg_area {
  margin-top: -200px; opacity: .5;
  transition: all .6s ease-in-out 150ms;
}
#consult-form #msg_area.slide-down {
  margin-top: 0px;
  opacity: 1;
}
#consult-form .card {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}
#consult-form .card.selected {
  border-color: var(--main-navy);
}
#consult-form .locations-container,
#consult-form .selected-location-container {
  overflow: hidden;
}
#consult-form .locations-wrapper{
  margin-top: -700px;
  transition: all .6s ease-in-out 50ms;
}
#consult-form .selected-location-wrapper {
  margin-top: -100px;
  transition: all .2s ease-in-out;
}
#consult-form .locations-wrapper.toggle,
#consult-form .selected-location-wrapper.toggle {
  margin-top: 0;
}
#consult-form .selected-location-container div {
  font-size: 14px;
  line-height: 1.2rem;
}
#consult-form .selected-location-container .alert span {
  text-decoration: underline;
  cursor: pointer;
} 
#consult-form #actions-btns button {
  max-width: 320px;
}
#consult-form #actions-btns button svg {
  vertical-align: text-top;
}
#consult-form .hide {
  display: none;
}