header{
  background: var(--main-navy);
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
}
header nav {
  position: relative;
  background-color: var(--main-navy);
}
header .cta-btns {
  padding: 22px 0;
}

header .navbar-toggler {
  padding: 10px 7px;
  margin-top: 10px;
  margin-left: 5px;
}
header .header-tel a {
  color: #fff; transition: all .2s ease-in-out;
}
header .header-tel a:hover {
  color: var(--main-turquoise);
}
header .header-tel a span{
  color: var(--main-turquoise);
}


header .navbar__menu {
  display: none;
  margin-bottom: 0;
  padding-left: 0;
}
header .navbar__menu .menu__item__link__wrapper a {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 25px 10px;
}
header .subMenu__wrapper {
  display: block;
  top: 67px;
  transition: all 0.4s ease-in-out;
  transform-origin: top center;
  border: none !important;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
header .menu__item:hover .subMenu__wrapper {
  height: auto;
}
header .subMenu {
  background: var(--main-navy);
  transition: all 0.2s ease-in-out;
  padding-left: 0;
}
header .subMenu li {
  display: block;
  border-bottom: 1px solid rgba(120, 120, 120, 0.2);
  position: relative;
}
header .subMenu li > a {
  color: #fff;
  font-size: 14px;
  display: block;
  padding: 12px 15px;
}

header .subMenu li > .subSubMenu__wrapper {
  overflow: hidden;
}
header .subSubMenu {
  background-color: var(--main-navy);
  color: #fff;
  transition: all 0.3s ease-out;
  margin-top: -800px;
  border-right: 1px solid rgba(120, 120, 120, 0.2);
  border-left: 2px solid rgba(120, 120, 120, 0.5);
}
header .navbar__menu .caret__icon {
  color: #fff;
  cursor: pointer;
}
header .navbar__menu .caret__icon--right,
header .navbar__menu--sm .caret__icon--down {
  position: absolute;
  padding: 8px;
  top: 0;
  right: 0;
}
header .navbar__menu .menu__item:hover .menu__item__link__wrapper > a,
header .navbar__menu .menu__item:hover .menu__item__link__wrapper > .caret__icon {
  color: var(--main-turquoise);
}
header .navbar__menu .subMenu li > a:hover {
  color: var(--main-turquoise);
}

/*  Navbar for larger screens  */
header .navbar__menu--lg {
  display: inline-block;
  position: relative;
}
header .navbar__menu--lg .menu__item {
  margin-right: -5px;
  display: inline-block;
}
header .navbar__menu--lg .menu__item__link__wrapper {
  position: relative;
  z-index: 1000;
  background-color: var(--main-navy);
  padding: 22px 10px;
}
header .navbar__menu--lg .subMenu__wrapper {
  position: absolute;
  height: 0;
  overflow: visible;
  min-width: 200px;
}
header .navbar__menu--lg .menu__item:hover .subMenu {
  transform: translateY(0%);
}
header .navbar__menu--lg .subMenu {
  transform: translateY(-180%);
  margin-top: 1px;
  min-width: 200px;
}
header .navbar__menu--lg .subMenu > li:hover > .subSubMenu__wrapper {
  top: -8px; left: 100%;
}
header .navbar__menu--lg .subMenu > li:hover > .subSubMenu__wrapper > .subSubMenu {
  margin-top: 0px;
  transform: translateX(0);
}
header .navbar__menu--lg .subSubMenu__wrapper {
  position: absolute;
  top: -550px;
  min-width: 175px;
}
header .navbar__menu--lg .subSubMenu {
  transform: translateX(-100%);
}


/* Navbar for smaller screens */
header .navbar__menu--sm {
  position: absolute;
  width: 100%;
  top: 63px;
  margin-top: -1000px;
  left: 0px;
  padding-bottom: 5px;
  height: 0vh;
  overflow-y: scroll;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  display: block;
}
header .navbar__menu--sm .menu__item {
  display: block;
  padding: 0;
  border-bottom: 1px solid rgba(120, 120, 120, 0.2);
  background: var(--main-navy);
  position: relative;
}
header .navbar__menu--sm .menu__item:last-child {
  padding-bottom: 5px;
}
header .navbar__menu--sm .menu__item__link__wrapper a {
  padding: 12px 12px 12px 25px;
  display: block;
}
header .navbar__menu--sm .subMenu__wrapper {
  overflow: hidden;
  left: 0;
  width: 100%;
}
header .navbar__menu--sm .subMenu {
  background: var(--main-navy);
  padding-left: 0 !important;
  margin-top: -400px;
  margin-left: 25px;
  margin-right: 54px;
  box-shadow: none !important;
  border-left: 2px solid #fff;
  border-right: 1px solid rgba(120, 120, 120, 0.2);
}
header .navbar__menu--sm .subMenu {
  margin-top: -1000px;
  margin-left: 25px;
  margin-right: 54px;
  box-shadow: none !important;
  border-left: 2px solid #fff;
  border-right: 1px solid rgba(120, 120, 120, 0.2);
}
header .navbar__menu--sm .subMenu li:first-child {
  border-top: 1px solid rgba(120, 120, 120, 0.2);
}
header .navbar__menu--sm .subSubMenu {
  border-left: 1px solid #fff;
}

@media screen and (min-width: 992px) {}

@media screen and (max-width: 991px) {
  header .navbar__menu--lg {
    display: none !important;
  }
  header .navbar__menu--sm.isOpen {
    margin-top: 0px;
    height: 90vh;
  }
  header .navbar__menu--sm .subMenu.expanded {
    margin-top: 0;
  }
  .subSubMenu-slidedown {
    margin-top: 5px !important;
  }
  header .cta-btns {
    padding: 19px 0;
  }
}

@media screen and (max-width: 576px) {
  header .navbar__menu--sm .menu__item__link__wrapper a {
    padding: 8px 12px;
  }
  header .navbar__menu--sm .subMenu li > a {
    padding: 8px 15px;
  }
}


/* ---------------------------------------------------- */

