.store-hero {
  background-image: url('https://milanlaser.com/images/mapbackground.jpg');
  background-position: center;
}
.store-hero .map-btn {
  padding: 10px 20px;
  width: 270px;
  display: inline-block;
  background: var(--main-navy);
}
.store-hero .wrapper .loc-exterior {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  box-shadow: inset 0 0 30px 4px rgba(0,0,0,0.2);
}
.store-hero-pro {
  background-position: center;
}
.store-hero-pro .bg-blue {
  background-color: rgba(1, 113, 143, .9);
}


.location-slider .my-dots .slick-dots {display: flex; justify-content: center; list-style: none; padding-left: 0;}
.location-slider .my-dots .slick-dots > li {margin-right: 10px;}
.location-slider .my-dots .slick-dots > li > button {position: relative; background-color: var(--main-navy); color: var(--main-navy); box-shadow: none; border: none; outline: none !important;}
.location-slider .my-dots .slick-dots > li > button::before {content: url('https://milanlaser.com//images/ellipse.svg'); position: absolute;left: 5px;}
.location-slider .my-dots .slick-dots .slick-active > button::before {content: url('https://milanlaser.com//images/ellipse-active.svg');}
.location-slider .location-wrapper .location:focus {outline: none !important;}


#reviews-wrapper .slick-track {display: flex !important;}

@media (max-width: 576px) {
  .store-hero {background-image: none;}
  .store-hero .map-btn{width: 250px; font-size: .9rem;}
  .bg-blue-sm {background-color: var(--main-blue);}
  .bg-blue-sm > div {box-shadow: none !important;}
  .store-hero-pro {background-image: none !important;}
  .store-hero-pro .hero-sm {
    background-size: cover;
    background-position: center;
    height: 260px;
  }
}

